h2{
	text-align: center;
}
div{
	background-color: #0000CC;
	color: #ffffff;
	box-sizing: border-box;
	width: 40%;
	display: inline-block; /* when inline block is off the left side and right side are not next to each other.*/
	height: 200px;
	padding: 15px;
	border: 20px solid #000000;
	margin: 0 auto;
	margin-top: 50px;
}